.listWrapper {
  display: flex;
  flex-direction: column;
  //   margin: auto 0;
  //   justify-content: center;
  align-items: center;
  //   margin: 0;
  padding: 0;
}

.listCard {
  min-height: 10rem;
  height: auto;
  max-width: 20rem;
  min-width: 20rem;
  background-color: grey;
  //   gap: 2rem;
  margin: 1rem;
}

.listCard form {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
